
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Markandeya University</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
 
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>Markandeya University</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Courses</a></li>
                            <li class="scroll-to-section"><a href="#courses">Facility</a></li>
                            <li class="scroll-to-section"><a href="#team">Faculty</a></li>
                            <li class="scroll-to-section"><a href="@Url.Action("SignUp","SignUp")">SignUp</a></li>
                            <li class="scroll-to-section"><a href="@Url.Action("SignIn","SignIn")">Sign In</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <span class="category">Our Courses</span>
                                  <h2>MARKANDEYA UNIVERSITY </h2>

                                <div class="buttons">
                                    <div class="main-button">

                                        @*<a href="#">Request Demo</a>*@
                                    </div>
                                    <div class="icon-button">
                                        @* <a href="#"><i class="fa fa-play"></i> What's Markandeya University?</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-2">
                            <div class="header-text">
                                <span class="category">Best Result</span>
                                <h2>Get the best result out of your effort</h2>
                               @* <p>You are allowed to use this template for any educational or commercial purpose. You are not allowed to re-distribute the template ZIP file on any other website.</p>*@
                                <div class="buttons">
                                    <div class="main-button">
                                        @*<a href="#">Request Demo</a>*@
                                    </div>
                                    <div class="icon-button">
                                       @* <a href="#"><i class="fa fa-play"></i> What's the best result?</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-3">
                            <div class="header-text">
                                <span class="category">Online Learning</span>
                                <h2>Online Learning helps you save the time</h2>
                                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporious incididunt ut labore et dolore magna aliqua suspendisse.</p>*@
                                <div class="buttons">
                                    <div class="main-button">
                                       @* <a href="#">Request Demo</a>*@
                                    </div>
                                    <div class="icon-button">
                                       @* <a href="#"><i class="fa fa-play"></i> What's Online Course?</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                          <div class="icon">
                            <img src="~/assets/images/online.jpg" />
                            @* <img src="~/assets/images/service-01.png" alt="online Admission">*@
                        </div>
                        <div class="main-content">
                            <h4>Online Admission</h4>
                            <p>Online admission system is a web portal of admission for computerization of all free and most admisssion of an institution.The portal supports various modern technologies such as online payment,auto SMS,auto e-mail for smart admission system.</p>
                            <div class="main-button">
                                @* <a href="#">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/assets/images/under.jpg" />
                            @*<img src="~/assets/images/service-02.png" alt="UnderGraduate Course">*@
                        </div>
                        <div class="main-content">
                            <h4>UnderGraduate Courses</h4>
                            <p>An UnderGraduate Degree is a colloquial term for an academic degree earned by a person who has completed undergraduate courses.In the United States,it is usually offered at an institution of higher education. </p>
                            <div class="main-button">
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/assets/images/post.jpg" />
                            @* <img src="~/assets/images/service-03.png" alt="PostGraduate Courses">*@
                        </div>
                        <div class="main-content">
                            <h4>PostGraduate Courses</h4>
                            <p>PostGraduate Education refers to academic or professional degrees,certificates,diplomas,or other qualifications pursued by post-secondary students who have earned an undergraduate degree and higher education.</p>
                            <div class="main-button">
                               @* <a href="#">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Where shall we begin?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    When it comes to deciding who they will admit into their programs,colleges consider many criteria,including high school grades,extracurricular activities and ACT and SAT scores. But in recent years,more colleges are no longer considering test scores. 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do we work together?
                                </button>
                             </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                     Today most higher education institution highlight the necessity of including both hard and soft skills in their syllabus to meet the required personal,academic and professional demands for a successfull career.
                                
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Why Markandeya university is the best?
                                </button>
                                
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The faculty of the college boasts some of the best professionals in the field who have great experience in teaching , studying and researching in this field.The library and other facilities are optimally minimum for a student as per infrastructure wise,but other wise,its a good place to stay.
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Do we get the best support?
                                </button>

                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Universities and colleges typically have a team which offers advice and support to all students who want it.These teams may have a different names depending on the university or college but they are often referes to as student support services.Students from all backgrounds can find with a range of issues.
                                   @*<code>templatemo business templates, templatemo gallery templates, admin dashboard templatemo, 3-column templatemo, etc.</code>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>What make us the Markandeya University?</h2>
                        <p>Universities are institutions of higher education that play a crucial role in society,several factors make universities distinct and distinguish them from other educational institutions.Here are some key features that define universities: Academic program,Research and Innovation,Faculty and Experts,Higher Education Credentials,Libraries and Resources,Lifelong Learning and Global OutLook</p>
                        <div class="main-button">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        @*<h6>Latest Courses</h6>
                        <h2>Latest Courses</h2>*@
                    </div>
                </div>
            </div>
            @*<ul class="event_filter">
                <li>
                    <a class="is_active" href="#!" data-filter="*">Show All</a>
                </li>
                <li>
                    <a href="#!" data-filter=".design"Library</a>
                </li>
                <li>
                    <a href="#!" data-filter=".development">Smart Class</a>
                </li>
                <li>
                    <a href="#!" data-filter=".wordpress">Physics Lab</a>
                </li>
            </ul>*@
            <div class="row event_box">
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                    <div class="events_item">
                        <div class="thumb">

                            <img src="~/assets/images/library.jpg" />
                            @* <a href="#"><img src="~/assets/images/course-01.jpg" alt=""></a>*@
                            <span class="category">Library</span>
                            @*<span class="price"><h6><em>$</em>160</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Mamatha Mattikalli</span>
                            <h4>Reading books makes you better</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                    <div class="events_item">
                        <div class="thumb">
                            <img src="~/assets/images/smart class.jpg" />
                            @* <a href="#"><img src="~/assets/images/course-02.jpg" alt=""></a>*@
                            <span class="category">Smart Class</span>
                            @*<span class="price"><h6><em>$</em>340</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Prof.Akshay Hiremath</span>
                            <h4> creates learning oportunity for educator</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                    <div class="events_item">
                        <div class="thumb">
                            <img src="~/assets/images/Computer lab.jpg" />
                            @*<a href="#"><img src="~/assets/images/course-03.jpg" alt=""></a>*@
                            <span class="category">Computer Lab</span>
                            @*<span class="price"><h6><em>$</em>640</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Prof.Ravi Bennolli </span>
                            <h4>Power of the computer is starting to spread</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                    <div class="events_item">
                        <div class="thumb">
                            <img src="~/assets/images/chem bio.jpg" />
                            @* <a href="#"><img src="~/assets/images/course-04.jpg" alt=""></a>*@
                            <span class="category">Chemistry Lab</span>
                            @* <span class="price"><h6><em>$</em>450</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Prof.Mallikjan Bagwan</span>
                            <h4>Chemistry is the study of transformation</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                    <div class="events_item">
                        <div class="thumb">
                            <img src="~/assets/images/phy lab.jpg" />
                            @* <a href="#"><img src="~/assets/images/course-05.jpg" alt=""></a>*@
                            <span class="category">Physics Lab</span>
                            @* <span class="price"><h6><em>$</em>320</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Prof.Suman pattar</span>
                            <h4>Science is the poetry of reality</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                    <div class="events_item">
                        <div class="thumb">
                            <img src="~/assets/images/Bio Lab.jpg" />
                            @*<a href="#"><img src="~/assets/images/course-06.jpg" alt=""></a>*@
                            <span class="category">Biology Lab</span>
                            @*<span class="price"><h6><em>$</em>240</h6></span>*@
                        </div>
                        <div class="down-content">
                            <span class="author">Prof.Prashant Kivati</span>
                            <h4>Biology through the eyes of faith</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="150" data-speed="1000"></h2>
                                    <p class="count-text ">Happy Students</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="804" data-speed="1000"></h2>
                                    <p class="count-text ">Course Hours</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="50" data-speed="1000"></h2>
                                    <p class="count-text ">Employed Students</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter end">
                                    <h2 class="timer count-title count-number" data-to="15" data-speed="1000"></h2>
                                    <p class="count-text ">Years Experience</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/prashant sir.jpg" />
                            @* <img src="~/assets/images/member-01.jpg" alt="">*@
                            <span class="category">Principle</span>
                            <h4>Prof.Prashant Kivati</h4>
                            <ul class="social-icons">
                                @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/malikjaan sir.jpg" />
                            @*<img src="~/assets/images/member-02.jpg" alt="">*@
                            <span class="category">Co-Ordinator</span>
                            <h4>Prof.Mallikjaan Bagawan</h4>
                            <ul class="social-icons">
                                @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/akshay sir.jpg" />
                            @* <img src="~/assets/images/member-03.jpg" alt="">*@
                            <span class="category">Lecturer</span>
                            <h4>Prof.Akshay Hiremath</h4>
                            <ul class="social-icons">
                                @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/Anand sir.jpg" />
                            @*<img src="~/assets/images/member-04.jpg" alt="">*@
                            <span class="category">Lecturer</span>
                            <h4>Prof.Aanand Bilagi</h4>
                            <ul class="social-icons">
                                @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="team section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <div class="main-content">
                        <img src="~/assets/images/ravi sir.jpg" />
                        @*<img src="~/assets/images/prashant sir.jpg" />*@
                        @* <img src="~/assets/images/member-01.jpg" alt="">*@
                        <span class="category">Lecturer</span>
                        <h4>Prof. Ravindra Bennolli</h4>
                        <ul class="social-icons">
                            @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
   
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <div class="main-content">
                        <img src="~/assets/images/suman mam.jpg" />
                        @*<img src="~/assets/images/prashant sir.jpg" />*@
                        @* <img src="~/assets/images/member-01.jpg" alt="">*@
                        <span class="category">Lecturer</span>
                        <h4>Prof.Suman Pattar</h4>
                        <ul class="social-icons">
                            @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member">
                            <div class="main-content">
                                <img src="~/assets/images/Arjun sir.jpg" />
                                @*<img src="~/assets/images/prashant sir.jpg" />*@
                                @* <img src="~/assets/images/member-01.jpg" alt="">*@
                                <span class="category">Lecturer</span>
                                <h4>Prof.Arjun Singh Hajeri</h4>
                                <ul class="social-icons">
                                    @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="section testimonials">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="owl-carousel owl-testimonials">
                                        <div class="item">
                                            <p>“University where you can study at comfortable pace because of the way the faculty teach and interact with students.I can recommend anyone to join here because the faculty is excellent and they take care of every student present in the class.”</p>
                                            <div class="author">
                                                <img src="~/assets/images/testimonial-author.jpg" alt="">
                                                <span class="category">BCA Student</span>
                                                <h4>Sanskruti S</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <p>"The faculty at the University is excellent and rich in their subject knowledge.They freely interact with us and willingly clarify our doubts.They not only focus on the curriculum but also enhance our innate wisdom.Overall its a great place to be in!"</p>
                                            <div class="author">
                                                <img src="~/assets/images/testimonial-author.jpg" alt="">
                                                <span class="category">MCom student</span>
                                                <h4>Dhruvika B</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <p>"Markandeya university has a stress free and friendly environment.I am really glad.I decided to join the university because it helps me understsnd the subject rather than just memorizing them and it has also helped me grow as an individual."</p>
                                            <div class="author">
                                                <img src="~/assets/images/testimonial-author.jpg" alt="">
                                                <span class="category">BSc student</span>
                                                <h4>Ritvik C</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <div class="section-heading">
                                        <h6>TESTIMONIALS</h6>
                                        <h2>What they say about Markandeya university?</h2>
                                        <p>The university is supportive in having the resources,network and different areas of specialities available to aid individual learning and achievements.I feel very supported when faced with academical challenges.The teaching is well and delivered.The lecturers are readily available to facilitate extra support is needed.There is well coordinated online sessions. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="section events" id="events">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="section-heading">
                                    <h6>Schedule</h6>
                                    <h2>Upcoming Events</h2>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="image">
                                                <img src="~/assets/images/event-01.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <ul>
                                                <li>
                                                    <span class="category">Web Design</span>
                                                    <h4>UI Best Practices</h4>
                                                </li>
                                                <li>
                                                    <span>Date:</span>
                                                    <h6>16 Feb 2036</h6>
                                                </li>
                                                <li>
                                                    <span>Duration:</span>
                                                    <h6>22 Hours</h6>
                                                </li>
                                                <li>
                                                    <span>Price:</span>
                                                    <h6>$120</h6>
                                                </li>
                                            </ul>
                                            <a href="#"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="image">
                                                <img src="~/assets/images/event-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <ul>
                                                <li>
                                                    <span class="category">Front End</span>
                                                    <h4>New Design Trend</h4>
                                                </li>
                                                <li>
                                                    <span>Date:</span>
                                                    <h6>24 Feb 2036</h6>
                                                </li>
                                                <li>
                                                    <span>Duration:</span>
                                                    <h6>30 Hours</h6>
                                                </li>
                                                <li>
                                                    <span>Price:</span>
                                                    <h6>$320</h6>
                                                </li>
                                            </ul>
                                            <a href="#"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="image">
                                                <img src="~/assets/images/event-03.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <ul>
                                                <li>
                                                    <span class="category">Full Stack</span>
                                                    <h4>Web Programming</h4>
                                                </li>
                                                <li>
                                                    <span>Date:</span>
                                                    <h6>12 Mar 2036</h6>
                                                </li>
                                                <li>
                                                    <span>Duration:</span>
                                                    <h6>48 Hours</h6>
                                                </li>
                                                <li>
                                                    <span>Price:</span>
                                                    <h6>$440</h6>
                                                </li>
                                            </ul>
                                            <a href="#"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                    <div class="contact-us section" id="contact">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6  align-self-center">
                                    <div class="section-heading">
                                        <h6>Contact Us</h6>
                                        <h2>Feel free to contact us anytime</h2>
                                        <p>Adress:Gandhi Nagar near byalikata Gokak</p>
                                        <p>Ph No:8431749482</p>
                                        <p>Tel No:07204349740</p>
                                        <p>Pin code:591307</p>
                                        @*<div class="special-offer">
                                        <span class="offer">off<br><em>50%</em></span>
                                        <h6>Valide: <em>24 April 2036</em></h6>
                                        <h4>Special Offer <em>50%</em> OFF!</h4>
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img src="~/assets/images/locationMap.JPG" style="" "border-block-color:mediumpurple; border-block-style:inherit" />

                                    @*<div class="contact-us-content">
                                </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="container">
                            <div class="col-lg-12">
                                <p>Copyright © 2036 Markandeya Univeristy. All rights reserved. &nbsp;&nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </footer>

                    <!-- Scripts -->
                    <!-- Bootstrap core JavaScript -->
                    <script src="~/vendor/jquery/jquery.min.js"></script>
                    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <script src="~/assets/js/isotope.min.js"></script>
                    <script src="~/assets/js/owl-carousel.js"></script>
                    <script src="~/assets/js/counter.js"></script>
                    <script src="~/assets/js/custom.js"></script>

</body>
</html>