#signup-table{
    position:relative;
    left:35%;
    padding:10px 10px;
    margin:10px 10px;
    text-align:center;
    font-family:Callibri;
    font-size:18pt;
}

#centerTableAllign {
    margin: 155px;
    width: 50%;
    border: 3px solid purple;
    padding: 30px;
    text-align: left;
    border-block:dashed;
}